__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store

Dataset/*
!Dataset/README.md
!Dataset/Reddit/
!Dataset/Twitch/
Dataset/Reddit/*
!Dataset/Reddit/.gitkeep
Dataset/Twitch/*
!Dataset/Twitch/.gitkeep

Notebooks/jupyter-notebook/checkpoints/*
!Notebooks/jupyter-notebook/checkpoints/.gitkeep
Notebooks/figures/*
!Notebooks/figures/.gitkeep
